# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/
ENV/

# ==========================
# Dataset
# ==========================
dataset/

# ==========================
# Trained Models
# ==========================
*.keras
*.h5
*.weights.h5



# ==========================
# IDE Settings
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db